body{
    background-color: #181D0E !important;
}
#iza{
    background-color: #572828;
    width: 45%;
    height: 10%;
    position: absolute;
    top: 3%;
    left: 0.5%;
}
#dha{
    background-color: #572828;
    width: 45%;
    height: 30%;
    position: absolute;
    left: 54.5%;
    top: 2.5%;
}
#izj{
    background-color: #572828;
    width: 45%;
    height: 30%;
    position: absolute;
    top: 68%;
    left: 0.5%;
}
#dhj{
    background-color: #572828;
    width: 45%;
    height: 30%;
    position: absolute;
    left: 54.5%;
    top: 68%;
}
#enmedio{
    background-color: #572828;
    width: 45%;
    height: 30%;
    position: absolute;
    top: 36.5%;
    left: 28%;
}
#tilo1{
    background-color: #AE5050;
    text-align: center;
    position: absolute;
    height: 100%;
    width: 95%;
    left: 2.5%;
    top: 5%;
    font-size: 30px;
}
#tilo{
    background-color: #AE5050;
    text-align: center;
    position: absolute;
    height: 40%;
    width: 95%;
    left: 2.5%;
    top: 5%;
    font-size: 30px;
}
.boton1{
    text-decoration: none;
}

.grid-container8 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 5px;
    background-color: #572828;
    padding: 5px;
    top: 50%;
  }
  
  .grid-container8 > div {
    background-color:#AE5050;
    text-align: center;
    padding: 20px 0;
    font-size: 10px;
    position: relative;
    top: 20%;
    height: 40%;
  }
.grid-container4 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(1,1fr);
  grid-gap: 5px;
  background-color: #572828;
  padding: 5px;
  top: 40%;
  }
  
  .grid-container4 > div {
    background-color:#AE5050;
    text-align: center;
    padding: 20px 0;
    font-size: 10px;
    position: relative;
    top: 30%;
    height: 80%;
  }
.grid-container3 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap: 5px;
    background-color: #572828;
    padding: 10px;
    top: 25%;
  }
  
  .grid-container3 > div {
    background-color:#AE5050;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    position: relative;
    top: 10%;
    bottom: 10%;
    height: 90%;
  }

  .modal{
    z-index: 4;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #11111100;
    display: flex;
    opacity: 1;
    pointer-events: unset;
    transition: opacity .4s;
  }
  .modal--hide{
    opacity: 0;
    pointer-events: none;
  }
  /*
  .modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .4s;
  }*/
  .modal__container{
    width: 90%;
    max-width: 70%;
    max-height: 90%;
    background-color: #f59898;
    margin: auto;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
  }
  .modal__title{
    font-size: 5rem;

  }
  .modal__paragraph{
    margin-bottom: 10px;
  }
  .modal__close{
    text-decoration: none;
    color: #111;
    background-color: #fff;
    padding: 1em 3em;
    border: 1px solid black;
    border-radius: 5em;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
 }
 .modal__close:hover{
    color: #fff;
    background-color: #111;
 }
.botoncerrar{
  color: white;
  background-color: #111;
  height: 40px;
  width: 40px;
  border: 3px solid #111;
  border-radius: 6px;
}
.botoncerrar:hover{
  color: #111;
  background-color: white;
}
.titulomodal{
  font-size: 50px;
}
.pararfotexto{
  font-size: 20px;
  font-weight: bolder;
}
.digi{
  position: absolute;
  top: 40%;
  left: 130%;
  background-color: #AE5050;
  border-radius: 6px;
  border: 3px solid black;
}
.digi > a{
  text-decoration: none;
  color: #111;
}
